name: Java CI with Docker

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Build with Maven
        run: mvn clean install

      - name: Copy JAR files for Docker
        run: |
          echo "Копируем JAR файлы для Docker..."
          cp ./shareit-gateway/target/*.jar ./gateway/
          cp ./shareit-server/target/*.jar ./server/
          echo "Gateway directory:"
          ls -la ./gateway/
          echo "Server directory:"
          ls -la ./server/

      - name: Build Docker images
        run: |
          docker build -t shareit-gateway ./gateway
          docker build -t shareit-server ./server